/* Variables */
:root {
  --basic-black: #000000;
  --low-black: #333333;
  --basic-white: #ffffff;
  --light-blue: #81B3D2;
  --special: #766357;
  --special-low: #604E43;
  --special-hard: #503E33;
  --double-low-black: #EEEEEE;
  --footer: rgba(255, 255, 255, 0.9);
  --specail-bum: rgba(0, 0, 0, 0.3);
  --blue-focus: #669EC0;
  --basic-gray: #666666;
  --blue-raw-focus: #5496BD;
}

/* Global */
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  /*  background-image: url("../img/bg.jpg");*/
  background-position: top center;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

/*Navigation*/
.main-navigation {
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
}

.main-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
}

.site-navigation:active {
  background-color: var(--specail-bum);
}

.site-navigation:hover,
.site-navigation:focus {
  background-color: var(--light-blue);
}

/*Description*/
.main-description {
  background-color: var(--basic-white);
}

.description {
  font-size: 21px;
  line-height: 1.2;
  text-align: center;
  color: var(--basic-black);
}

.motivs {
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  color: var(--low-black);
}

.list-production {
  list-style: none;
}

.list-presentation {
  list-style: none;
}

.real-sity {
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: var(--basic-white);
}

.presentation-sity {
  background-color: var(--light-blue);
}

.description-presentation {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--basic-white);
}

.list-production {
  background-color: var(--basic-white);
}

.commun-title {
  font-size: 21px;
  line-height: 1;
  text-align: center;
}

.item-production {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--low-black);
}

.presentation-bridge {
  background-color: var(--light-blue)
}

.bridge-of-devil {
  font-size: 21px;
  line-height: 1;
  text-align: center;
  color: var(--basic-white);
}

.description-bridge-of-devil {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--basic-white);
}

.presentation-leave {
  background-color: var(--double-low-black);
}

.commun-advantage {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: var(--low-black);
}

.date-select-item {
  font-size: 30px;
  line-height: 0.8;
  text-align: center;
}

.main-footer {
  background-color: var(--footer);
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
}

.contacts-phone a {
  font-size: 21px;
  line-height: 1.2;
  text-decoration: none;
  color: inherit;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.social-list {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.social-icon {
  color: var(--basic-black);
  text-decoration: none;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--blue-focus);
}

.site-by {
  font-size: 14px;
  line-height: 1.8;
  text-align: right;
}

.search-result {
  font-size: 21px;
  line-height: 1.2;
}

.search-result-list {
  font-size: 12px;
  line-height: 1.5;
}

.search-result-item {
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;
  list-style: none;
}

.main-hotels {
  font-size: 21px;
  line-height: 1.2;
}

.main-hotels-price {
  font-size: 14px;
  line-height: 1.5;
}

.More:hover,
.More:focus {
  background-color: var(--blue-focus);
}

.More:active {
  background-color: var(--blue-raw-focus);
}

.More {
  background-color: var(--light-blue);
}

.Reserve {
  background-color: var(--special);
}

.Reserve:hover,
.Reserve:focus {
  background-color: var(--special-low);
}

.Reserve:active {
  background-color: var(--special-hard);
}

.button-clic {
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-white);
}

.main-hotels-rating {
  font-size: 14px;
  line-height: 1.5;
  color: var(--basic-gray);
}
