/* Variables */
:root {
  --basic-black: #000000;
  --low-black: #333333;
  --basic-white: #ffffff;
  --light-blue: #81B3D2;
  --special: #766357;
  --special-low: #604E43;
  --special-hard: #503E33;
  --double-low-black: #EEEEEE;
  --footer: rgba(255, 255, 255, 0.9);
  --special-bum: rgba(0, 0, 0, 0.3);
  --blue-focus: #669EC0;
  --basic-gray: #666666;
  --blue-raw-focus: #5496BD;
  --gray-back: #F2F2F2;
  --ligne-color: #E5E5E5;
  --details-item: rgba(202, 202, 202, 1);
}

/* Global */
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--basic-black);
  background-position: top center;
  background-repeat: no-repeat;
  text-transform: uppercase;
}

.container {
  position: relative;
  background-color: var(--gray-back);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  background-color: var(--basic-white);
  padding-top: 5px;
}

/*Navigation*/
.main-navigation {
  font-size: 14px;
  line-height: 1.8;
  font-weight: 700;
  color: var(--basic-black);
  background-color: var(--basic-white);
  text-decoration: none;
  padding-bottom: 15px;
}

.main-navigation a {
  text-decoration: none;
  color: var(--basic-black);
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 15px;
}

.site-navigation-item {
  width: 21.5%;
}

.site-navigation-item:nth-child(4n -1) {
  margin-left: auto;
  text-align: right;
}

.site-navigation-item:nth-child(4n) {
  text-align: right;
}

.header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-welcome {
  background-image: url(../img/bottom.svg), url(../img/background-home.jpg);
  height: 509px;
  background-repeat: no-repeat;
  background-position: center bottom, center;
}

.header-welcome-photo {
  position: relative;
  transform: translate(81%, 22%);
}

.photo-sedona {
  background-color: var(--basic-white);
}

.site-navigation-item a:hover,
.site-navigation-item a:focus {
  color: var(--light-blue);
}

.site-navigation-item a:active {
  color: var(--special-bum);
}

.site-navigation-item-active a {
  color: var(--special);
}

/*Description*/
.main-description {
  background-color: var(--basic-white);
  padding-top: 18px;
}

.description {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  padding-bottom: 20px;
}

.motivs {
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  color: var(--low-black);
  padding-top: 2px;
}

/** Общие стли всего списка на странице**/
.list-production {
  background-color: var(--basic-white);
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: 1/4;
  padding-top: 60px;
  padding-bottom: 69px;
  padding-left: 0;
}

/** Стили списка с занятиями**/
.item-production {
  font-size: 14px;
  text-align: center;
  color: var(--low-black);
  padding-top: 100px;
  background-position: top;
  background-repeat: no-repeat;
  margin: 0;
}

.house {
  background-image: url(../img/icon-1.svg);
}

.food {
  background-image: url(../img/icon-3.svg);
}

.souvenirs {
  background-image: url(../img/icon-2.svg);
}

.list-presentation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 0;
}

.commun-title {
  font-size: 21px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
}

.list-production-description {
  padding-top: 11px;
}

/** 1 ПРИЧИНА - НАСТОЯЩИЙ ГОРОДОК **/
.presentation-sity {
  background-color: var(--light-blue);
  display: grid;
  grid-column: 1/4;
  grid-template-columns: 1fr 2fr;
  margin-top: 40px;
  color: var(--basic-white);
}

.sity-details {
  grid-column: 1;
  grid-row: 1/3;
  text-align: center;
  padding-top: 47px;
}

.photo-sity-details {
  grid-column: 2/4;
  grid-row: 1;
}

.number-1 {
  padding-top: 115px;
}

.live {
  padding-top: 160px;
}

.real-sity {
  font-size: 21px;
  line-height: 1;
  font-weight: 700;
  color: var(--basic-white);
}

/** 1 ПРИЧИНА - НАСТОЯЩИЙ ГОРОДОК **/
/** 2 ПРИЧИНА - МОСТ ДЬЯВОЛА **/
.presentation-bridge {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--light-blue);
  grid-column: 1/4;
  grid-row: 2/3;
}

.bridge-details {
  grid-column: 2;
  grid-row: 1/3;
  text-align: center;
  color: var(--basic-white);
}

.number-2 {
  padding-top: 117px;
}

.go {
  padding-top: 160px;
}

.bridge-of-devil {
  font-size: 21px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  color: var(--basic-white);
  padding-top: 49px;
}

.description-bridge-of-devil {
  font-size: 14px;
  text-align: center;
  color: var(--basic-white);
  padding-top: 50px;
}

.presentation-leave {
  background-color: var(--double-low-black);
  list-style: none;
  text-align: center;
  padding-top: 47px;
  padding-bottom: 40px;
}

.number-345 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.date-select {
  background-color: var(--basic-white);
  padding-top: 18px;
  margin-bottom: 130px;
  text-align: center;
}

.date-select-item {
  font-size: 30px;
  line-height: 0.8;
  font-weight: 700;
  padding-bottom: 7px;
}

.date-select-description {
  line-height: 1.8;
}

.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 24px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.9);
}



/**
.hashtag {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 0;
}

.contacts-phone a {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.contacts-phone {
  padding-top: 5px;
  margin-top: 0;
}
**/
.contacts-details  {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  width: 300px;
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;



}

.hashtag {
  padding-bottom: 9px;
}


.contacts-details a {
  text-decoration: none;
  color: inherit;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  justify-content: center;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: auto;
  margin: 16px;


}

.social-icon {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  background-color: var(--light-blue);
  background-repeat: no-repeat;
  width: 46px;
  height: 48px;
  margin-right:  6px;

}

.social-icon a:hover,
.social-icon a:focus {
  color: var(--blue-focus);
}

.social-icon a:active {
  color: var(--blue-raw-focus);
}

.Twitter {
  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;


}

.Facebook {
  background-image: url(../img/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.YouTube {
  background-image: url(../img/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;

}

.social-button:hover,
.social-button:focus {
  background-color: var(--blue-focus);
}

.site-by {
  font-size: 14px;
  line-height: 1.8;
  width: 240px;
  margin: 0;
  padding: 15px;
  text-align: center;

}

.section-center {
  margin: auto;
  text-align: center;
  width: max-content;
  height: max-content;


}

.section-center-contacts {

  margin: auto;
  margin-top: 0;
  margin-left: 86px;
  text-align: center;
  width: max-content;
  height: max-content;


}

.section-center-by {
  width: 240px;
  margin: 0;
  margin-left: 29px;
  margin-top: 3px;

  text-align: center;
  width: max-content;
  height: max-content;

}
.photo-logo-footer {
  vertical-align: middle;
  padding-left: 5px;
}

/**Стили для HOTELS **/
.container-search {
  display: flex;
  margin-left: 73px;
  margin-right: 73px;
  align-items: center;
  width: auto;
}

.search-result {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  width: 163px;
}

.search-result-item {
  display: flex;
  list-style: none;
}

.item-details {
  width: max-content;
  padding-right: 33px;
}

.d3 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid var(--details-item);
  margin-left: auto;
  margin-right: 12px;
}

.d4 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid var(--light-blue);
}

.item-details a {
  color: var(--special-bum);
  text-decoration: none;
  border-bottom: 1px dotted var(--light-blue);
}

.active a {
  color: var(--light-blue);
}

.item-details a:hover,
.item-details a:focus {
  color: var(--light-blue);
  border-bottom: 1px dotted var(--light-blue);
}

.item-details a:active {
  color: var(--basic-black);
  text-decoration: none;
  border-style: none;
}

.item-price {
  color: var(--basic-black);
  text-decoration: none;
}

.main-hotels a {
  font-size: 21px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-black);
}

.main-hotels a:hover,
.main-hotels a:focus {
  color: var(--light-blue);
}

.main-hotels a:active {
  color: var(--special-bum);
}

.star {
  display: grid;
  grid-column: 5;
  grid-row: 1;
  color: var(--light-blue);
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.amara {
  box-sizing: content-box;
  width: 110px;
}

.desert {

  width: 110px;
}

.diablo {

  width: 110px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-hotels {
  grid-column: 2/5;
  grid-row: 1;
  margin: 0;
  padding-top: 20px;
}

.main-hotels-price {
  font-size: 14px;
  grid-column: 2;
  grid-row: 2;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 7px;
}

.price-list {
  font-size: 14px;
  grid-column: 3;
  grid-row: 2;
  padding-left: 20px;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 7px;
}

.hotel-commun {
  display: grid;
  grid-template-columns: max-content min-content 1fr 1fr;
  padding-left: 73px;
  border-bottom: 1px solid var(--ligne-color);
}

.hotel-commun:nth-child(1) {
  border-top: 1px solid var(--ligne-color);
}

.photo-hotel-commun {
  grid-row: 1/4;
  padding-top: 20px;
  padding-right: 29px;
}

.hotels-photo {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-hotels-rating {
  grid-row: 3;
  font-size: 14px;
  color: var(--basic-gray);
  grid-column: -1;
  padding-right: 85px;
}

.more:hover,
.more:focus {
  background-color: var(--blue-focus);
}

.more:active {
  background-color: var(--blue-raw-focus);
}

.more {
  background-color: var(--light-blue);
  color: var(--basic-white);
  grid-column: 2;
  grid-row: 3;
  width: 110px;
  height: 27px;
  margin-right: 6px;
}

.reserve {
  background-color: var(--special);
  color: var(--basic-white);
  width: 110px;
  height: 27px;
  grid-column: 3;
  grid-row: 3;
  margin-bottom: 20px;
}

.reserve:hover,
.reserve:focus {
  background-color: var(--special-low);
}

.reserve:active {
  background-color: var(--special-hard);
}

.main-map {
  text-align: center;
}


.search-button {
  display: block;
  margin: auto;
  width: 568px;
  background-color: var(--special);
  border: none;
  text-transform: inherit;
  color: var(--basic-white);
  font-size: 21px;
  line-height: 1;
  font-weight: 600;
  text-align: center;
  padding: 30px 0;

}
